body{
    font-family: Helvetica, sans-serif !important;
}
.main-color{
    color: #68D29D;
}
.heading{
    align-items: center;
}
.title{
    font-size: 32px;
    font-weight: 600;
}
.subtitle{
    color: #9a9a9a;
}
.addBtn{
   font-size: 20px;
    font-weight: 600;
}
